force-app/main/default/flows/Contract_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Apply_Big_Discount</name>
        <label>Apply Big Discount</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Find_Contract.Discount_Estimated_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BigDiscountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cost_with_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_Small_Discount</name>
        <label>Apply Small Discount</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Find_Contract.Discount_Estimated_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallDiscountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cost_with_Discount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Discount</name>
        <label>Check Discount</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Large_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Contract.Estimated_Cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Big_Discount</targetReference>
            </connector>
            <label>Large Discount</label>
        </rules>
        <rules>
            <name>Small_DIscount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Contract.Estimated_Cost__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Small_Discount</targetReference>
            </connector>
            <label>Small DIscount</label>
        </rules>
    </decisions>
    <formulas>
        <name>BigDiscountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Find_Contract.Estimated_Cost__c} - ({!Find_Contract.Estimated_Cost__c} * 0.1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SmallDiscountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Find_Contract.Estimated_Cost__c} - ({!Find_Contract.Estimated_Cost__c} * 0.05)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Discount Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cost_with_Discount</name>
        <label>Update Cost with Discount</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <inputReference>Find_Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the id of incoming contract</description>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
